*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: #212529;
}

body::-webkit-scrollbar {
    width: 12px;
    background: #ADB5BD;
} 
body::-webkit-scrollbar-thumb {
    background: #282828;
    border-radius: 10px;
    border-right: 2px solid #000000;
} 
html{
    scroll-behavior: smooth;
}
li{
    margin: 0 1.5em;
}
.container-header{
    align-items: center;
    justify-content: center;
}
.container{
    width: 20%;
}
.icons{
    margin: 0 0.5em;
    margin-bottom: 0em;
    box-sizing: border-box;
}
.logodinsheader{
    width: 6em;
    position: relative;
    top: 3em;
    margin-left: 6em;
    box-sizing: border-box;
}
.container-ul{
    text-transform: uppercase;
    font-weight: 700;
    font-size: small;
    margin-top: 1.5em;
    width: 90%;
    height: 30%;
    color: #F8F9FA;
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;  
}
.container-ul2{
    width: 3.5em;
    height: auto;
    display: flex;
    justify-content: end;
    margin-left: 95em;
    margin-block: -1.5em;
}

/* INICIO */

.dinsinicio {
    width: 60em;
    position: relative;
    display:block;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 1%;
    box-sizing: content-box;
}

.textoinicio{
    text-transform: uppercase;
    color: #F8F9FA;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 20px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}


/* BOTON FLOTANTE WHATSAPP */

.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color: ffffff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}
